body {
	margin: 0;
	font-family: Helvetica;
	background: red;
}

#logo {
	height: 80px;
	width: 80px;
}

h1 { 
	font-weight: bolder;
	color: white;
}

#container{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60vh;
	flex-direction: column;
}

.teste {
	align-items: center;
}

.teste h1 {
	font-weight: 400;
	color: black;
	align-items: center;
	text-align: center;
	text-transform: capitalize;
	text-shadow: 6px 4px 4px white;
}	