body {
	margin: 0;
	font-family: Helvetica;
	background: red;
}

#logo {
	height: 80px;
	width: 80px;
}

h1 { 
	font-weight: bolder;
	color: white;
}

#container{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;
}